
# Auteur	:	KMS -	Martin Dubois, ing.
# Projet	:	KmsBase
# Fichier	:	Templates/Driver_KMDF/.gitignore

build.err
build.log
msbuild.log
runsdvui.cmd
SDV-default.xml
sdv-user.sdv
staticdv.job

sdv/
sdv.temp/
Win7 Debug/
Win7 Release/
Win8.1 Debug/
Win8.1 Release/
 
