
# Auteur	:	KMS -	Martin Dubois, ing.
# Projet	:	KmsBase
# Fichier	:	.gitignore

Linux_Windows_Test0.dat

*~
*.opensdf
*.sdf
*.v12.suo

Binaries/
Debug/
Debug_DLL/
Export/
Libraries/
Release/
Release_DLL/
Win7Debug/
Win7Release/
Win8.1Debug/
Win8.1Release/

doxygen_en/
doxygen_fr/
x64/



