
# Author   KMS - Martin Dubois, ing.
# Product  KmsBase
# File     .gitignore

/KmsDoc/

HTML5_Base.html
KmsBase.VC.opendb
KmsBase.VC.db
KmsBase.VC.VC.opendb
Linux_Windows_Test0.txt
/Test1.txt
/Test2.txt

*~
*.bak
*.o
*.opensdf
*.sdf
*.v12.suo

.vs/
Binaries/
Debug/
Debug_DLL/
Export/
Libraries/
Release/
Release_DLL/
Win7Debug/
Win7Release/
Win8.1Debug/
Win8.1Release/

doxygen_en/
doxygen_fr/
ipch/
x64/



