
# Author    KMS - Martin Dubois, P.Eng.
# Copyright (C) 2020 KMS. All Rights reserved.
# License   http://www.apache.org/licenses/LICENSE-2.0
# Product   KmsBase
# File      .gitignore

/Installer/
/KmsDoc/

Linux_Windows_Test0.txt
/Test1.txt
/Test2.txt

*~
*.bak
*.o

.vs/
Binaries/
Debug/
Debug_DLL/
Export/
Libraries/
Release/
Release_DLL/

doxygen_en/
doxygen_fr/
x64/



