
Author / Auteur		KMS -	Martin Dubois, ing.
Product / Produit	KmsBase
File / Fichier		_DocDev/Requirements.txt

Library
	KmsBase provide a library of general fonctionnalities used by more than a
	product. / KmsBase fournis une librairie de fonctionnalites generale
	utilises dans plus d'un produit.

Linux
	KmsBase provide a library and template for Linux. / KmsBase fournis une
	librairie pour Linux.

Windows
	KmsBase provide a library and template for Windows 7 and highter. /
	KmsBase fournis une	librairie pour Windows 7 et plus.
