
Auteur	KMS -	Martin Dubois, ing.
Produit	KmsBase
Fichier	_DocDev/Requirements.txt

Library
	KmsBase fournis une librairie de fonctionnalites generale utilises dans
	plus d'un produit.

Linux
	KmsBase fournis une	librairie, des modeles et des outils redistribuable
	pour Linux.

Windows
	KmsBase fournis une	librairie, des modeles et des outils redistribuable
	pour Windows 7 et plus.

===== Future ================================================================

NET.Check
	KmsBase fournis un outils pour verifier, a partir d'un fichier de
	commande, la presence du framework .NET necessaire.

VC.Check
	KmsBase fournis un outils pour verifier, a partir d'un fichier de
	commande, la presence des redistribuable Visual Studio necessaire.
