
Auteur	:	KMS -	Martin Dubois, ing.
Projet	:	KmsBase
Fichier	:	_DocDev/Requirements.txt

Windows
	Le logiciel doit s'installer, s'utiliser et s'executer sous Windows 7 et
	plus recent, 32 ou 64 bits.
