
Auteur	:	KMS -	Martin Dubois, ing.
Produit	:	KmsBase
Fichier	:	KmsLib/_DocDev/Requirements.h


Error.Exception
	Les condition d'erreur sont rapporte en lancant des exception de type
	KmsLib::Exception ou de type derive de ce type.

Extension.Register
	En utilisant la librairie, une application peu s'enregistrer comme
	application permettant d'ouvrir ou d'editer un type de fichier.

Registry.Access
	En utilisant la librairie, une application peu acceder la base de registre
	Windows au travers d'un interface amicale.

Socket
	En utilisant la librairie, une application peu utilier la fonctionnalite
	de socket en utilisant une interface oriente objet qui est la meme sur
	toutes les platefomes.

Version
	Le programme utilisant la librairie peut connaire la version de celle-ci.

Walker
	En utilisant la librairie, une application peu parcourir des repertoires
	a la recherche de fichier

Walker.Smart
	En utilisant la librairie, une application peu parcourir des repertoires
	a la recherche de fichier en ignorant les fichier identifier dans un
	fichier texte.

===== A venir ===============================================================
